<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :open_at, :placeholder => '日付', :data => {:behaviour => 'datepicker'} %><br>
    <%= f.text_field :name, :placeholder => 'イベント名' %><br>
    <%= text_field_tag('place_name', '', :placeholder => '場所') %><br>
    <%= f.hidden_field :place_id, :placeholder => '場所' %><br>
  
    <%= f.submit %>
  </div>
<% end %>
