<h1>Listing events</h1>

<div class="btn-groupa">
  <%= link_to new_event_path, class:'btn btn-primary' do %>
    <i class="icon-plus"></i> イベントを追加</a>
  <% end %>
</div>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.open_at.strftime("%Y-%m-%d") %></td>
    <td><%= event.name %></td>
  
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

