<div class="js-event-detail">
<p id="notice"><%= notice %></p>

<h2><%= @event.name %></h2>
<%= @event.open_at.strftime("%Y-%m-%d(%a)") %><br>
@ <%= @event.place.name %><br>
<br>

<!-- buttons -->
<div>
	<%= link_to '#new-song', class: 'btn btn-success', id: 'js-new-song' do %>
	  <i class="icon-plus"></i>	曲を追加</a>
	<% end %> |
	<%= link_to edit_event_path(@event), class: 'btn btn-info' do %>
	  <i class="icon-edit"></i> イベントを編集</a>
	<% end %> |
	<%= link_to events_path, class: 'btn btn-danger' do %>
	  <i class="icon-chevron-left"></i> 戻る</a>
	<% end %>
</div>
<!-- /buttons -->

<!-- songs-->
<div class="mt10">
	<ol style="list-style:none;">
		<li>
			<p class="span2">first love</p>
			<p>宇多田ヒカル</p>
		</li>
	</ol>
</div>
<!-- /songs-->

<!-- new song-->
<div class="mt10" id="new-song">
	<div class="js-artist-area">
		<%= text_field_tag :artist, '', 
			class:'js-text-artist', placeholder:'アーティスト名', 
			data: {provide:'typeahead'} %>
	</div>
	<div class="js-track-area">
		<%= text_field_tag :track, '', 
			class:'js-text-track', placeholder:'曲名' %>
	</div>
	<%= link_to 'POST', '#', class: 'btn btn-success', id: 'js-add-song' %>
</div>
<!-- /new song-->

</div>
