<p id="notice"><%= notice %></p>

<%= @event.name %><br>
<%= @event.open_at.strftime("%Y-%m-%d") %><br>
<%= @event.place.name %><br>
<%=  %><br>
<%=  %><br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
