<h1>場所</h1>

<div>
  <%= form_tag '/places/search', method:'post' do %>
   <%= text_field_tag :name, @place_name, placeholder: "場所" %>
    <%= submit_tag "検索", class:'btn' %>
  <% end %>
</div>

<% if @places %>
<table>

  <% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= link_to '選択', place, class:'btn' %></td>
  </tr>
  <% end %>
</table>
<% else %>
<p>該当する場所がありません</p>
<% end %>

<br />

<%= link_to 'New Place', new_place_path %>
