<h1>場所</h1>

<div>
  <%= form_tag '/places/search', method:'post' do %>
   <%= text_field_tag :name, '', placeholder: "場所" %>
    <%= submit_tag "検索" %>
  <% end %>
</div>

<table>
<% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= link_to '選択', :controller => 'events', :action => 'new', :place => place.id %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Place', new_place_path %>
